@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
    font-family: 'Gibralt';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Arial'), local('Helvetica'), sans-serif;
}

@font-face {
    font-family: 'Gibralt';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Arial'), local('Helvetica'), sans-serif;
}

@font-face {
    font-family: 'Gibralt';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Arial'), local('Helvetica'), sans-serif;
}